.experience {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 160px 120px;
  padding-bottom: 100px;
  gap: 50px;
  .work {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;

    .left {
      color: rgba(255, 255, 255, .9);
      display: flex;
      align-items:flex-start;
      justify-content:flex-start;
      flex-direction: column;

      h1 {
        color: crimson;
      }

      @media screen and (max-width: 992px) {
        h1 {
          font-size: 15px;
        }
        h2 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 100px;

      img {
        width: 100%;
        transition: all .5s;
      }

      img:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
      }     
    }
  }
}


