header {
  position: fixed;
  width: 100%;
  height: 80px;
  font-size: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 100;

  .left {
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 120px;
    height: 80px; 
    text-decoration: none;

    .link {
      padding-right: 20px;
    }

    .link:link, .link:visited {
      color: rgba(255, 255, 255, .65);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all .5s;
    }

    .link:hover, .link:active {
      color: crimson;
    }
  
    img {
      padding-right: 50px;
      height: 100%;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 120px;
    gap: 20px;
  
    a:link, a:visited {
      color: rgba(255, 255, 255, .65);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all .5s;
    }
  
    a:hover, a:active {
      color: crimson;
    }
  }
}
